<a href="https://colab.research.google.com/github/LyapunovaUN/prog/blob/main/%D0%BB%D0%B0%D0%B1%D0%B02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№1

In [ ]:
x = int(input())

if x >= 0:
    f = x ** 0.5 + x**2
else:
    f = 1 / x

print(round(f,2))

10
103.16

№2

In [1]:
print("Введите первое число:")
a1 = int(input())
print("Введите второе число:")
a2 = int(input())

if a1>a2:
  a_min = a2
  a_max = a1
else:
  a_min = a1
  a_max = a2

print("Максимум {}, минимум {}".format(a_max, a_min))

Введите первое число:
5
Введите второе число:
5
Максимум 5, минимум 5

№3

In [ ]:
a = int(input())
b = int(input())
d = int(input())

if a > 0 and b > 0 and d > 0:
    fix = 1
    if a >= d + fix and b >= d + fix:
      print("Да")
    else:
      print("Нет")
else:
    print("Проверьте ввод")

6
7
4
Да

№4

In [2]:
print("Введите текущий год:")
year_today = int(input())
print("Введите текущий месяц:")
month_today = int(input())

print("Введите год рождения:")
year = int(input())
print("Введите месяц рождения:")
month = int(input())

age = year_today - year

print("Число полных лет: ", age)

Введите текущий год:
2017
Введите текущий месяц:
5
Введите год рождения:
2000
Введите месяц рождения:
1
Число полных лет:  17

№5

In [ ]:
x = int(input())
y = int(input())
if x > 0 and y > 0:
    print("1-я четверть")
elif x < 0 and y > 0:
  print("2-я четверть")
elif x < 0 and y < 0:
  print("3-я четверть")
elif x > 0 and y < 0:
  print("4-я четверть")

5
7
1-я четверть

№6

In [3]:
a = float(input())
b = float(input())
c = float(input())

D = b**2 - 4*a*c

if D < 0:
    print("Решений нет")
elif D == 0:
    x = (-b) / (2*a)
    print(f"x = {x:.1f}")
else:
    x1 = (-b + D**0.5) / (2*a)
    x2 = (-b - D**0.5) / (2*a)
    print(f"x1 = {x1:.1f}, x2 = {x2:.1f}")

1
2
3
Решений нет

№7

In [ ]:
nums_sum = 0
nums_count = 0
x = int(input())
while x != 0:
    nums_sum += x
    nums_count += 1
    x = int(input())
print(nums_sum)
print(nums_count)

4
3
2
1
0
10
4

№8

In [4]:
n = int(input())

print(f"n = {n}")

x = 0
while x <= n:
    print(x)
    x += 5

10
n = 10
0
5
10

№9

In [ ]:
a = float(input())
n=0
x_sum = 0
while x_sum <= a:
  n+=1
  x_sum = x_sum + 1/n
print(n)

2
4

№10

In [5]:
n = int(input())
n1 = n
summa = 0
kolvo = 0

if n == 0:
    kolvo = 1
else:
    while n > 0:
        x = n % 10
        summa += x
        kolvo += 1
        n = n // 10


print(f"n = {n1}")
print(f"Сумма = {summa}")
print(f"Количество = {kolvo}")

12345
n = 12345
Сумма = 15
Количество = 5

№11

In [50]:
start = int(input())
k = int(input())
s = int(input())
n_count = 0
number = start

result = []

while n_count < 10:
  if number % s == 0 and number % 10 == k:
      result.append(number)
      n_count += 1
  number += 1

print(result)

100
7
9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

№12

In [6]:
a = int(input())
b = int(input())

print(f"a = {a}")
print(f"b = {b}")

start = min(a, b)
end = max(a, b)

numbers = []
current = start
while current <= end:
    numbers.append(str(current))
    current += 1
print(" ".join(numbers))

current = end
while current >= start:
    print(current)
    current -= 1

1
5
a = 1
b = 5
1 2 3 4 5
5
4
3
2
1

№13

In [ ]:
a = int(input())
b = int(input())
n_sum = 0
n_mult = 1
g = 1
count = 0
count_g = 0
for i in range (a,b+1):
  n_sum += i
  n_mult *= i
  count +=1
  if i % 2 != 0:
    g *= i
    count_g +=1
n_avg = round(n_sum/count,2)
n_avg_geom = round((g ** (1/count_g)),2)
print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое = {}".format(n_avg))
print("Среднее геометрическое нечетных чисел = {}".format(n_avg_geom))

1
5
Сумма = 15
Произведение = 120
Среднее арифметическое = 3.0
Среднее геометрическое нечетных чисел = 2.47

№14

In [7]:
s = float(input())
p = float(input())

total = s
current = s

print(f"Пробег за 1-й день (км.) = {s}")
print(f"На сколько увеличивает пробег (%) = {p}")

for day in range(2, 11):
    current *= (1 + p / 100)
    total += current
    print(f"Пробег за {day}-й день: {current:.1f} км.")

print("Суммарный пробег: {:.1f} км.".format(total))

5
10
Пробег за 1-й день (км.) = 5.0
На сколько увеличивает пробег (%) = 10.0
Пробег за 2-й день: 5.5 км.
Пробег за 3-й день: 6.1 км.
Пробег за 4-й день: 6.7 км.
Пробег за 5-й день: 7.3 км.
Пробег за 6-й день: 8.1 км.
Пробег за 7-й день: 8.9 км.
Пробег за 8-й день: 9.7 км.
Пробег за 9-й день: 10.7 км.
Пробег за 10-й день: 11.8 км.
Суммарный пробег: 79.7 км.

№15

In [ ]:
p = int(input())
n = int (input())
total = 0
while n!=0:
    k=int(input())
    n-=1
    total=total+k
if total<=p:
  print("Да")
else:
  print("Нет")

10
2
3
3
Да

№16

In [8]:
n = int(input("Количество районов = "))

total = 0.0

for i in range(n):
    area = float(input(f"Площадь {i+1}-го района (га) = "))
    uroj = float(input(f"Урожайность в {i+1}-м районе (ц/га.) = "))
    total += area * uroj

print(f"Собрано пшеницы: {total:.1f} ц.")

Количество районов = 3
Площадь 1-го района (га) = 4
Урожайность в 1-м районе (ц/га.) = 2
Площадь 2-го района (га) = 7
Урожайность в 2-м районе (ц/га.) = 3
Площадь 3-го района (га) = 9
Урожайность в 3-м районе (ц/га.) = 4
Собрано пшеницы: 65.0 ц.

№17

In [ ]:
nums_sum = 0
nums_count = 0
while True:
  x = int(input())
  if x == 0:
    break
  nums_sum += x
  nums_count += 1
print(nums_sum)
print(nums_count)

4
3
2
1
0
10
4

№18

In [9]:
sentence = input("Введите предложение: ").lower()

count_gl = 0
count_sogl = 0

gl_letters = {'а', 'е', 'ё', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я'}

for char in sentence:
    if char == ' ':
        continue
    if char in gl_letters:
        count_gl += 1
    else:
        count_sogl += 1

print(f"Кол-во букв в предложении: гласных - {count_gl}, согласных - {count_sogl}")

Введите предложение: программирование
Кол-во букв в предложении: гласных - 7, согласных - 9

№19

In [ ]:
a = int(input())
b = int(input())
c = int(input())
s=[]
for i in range (a,b+1):
  if i % c == 0:
    s.append(i)
print(' '.join(map(str,s)))

1
10
2
2 4 6 8 10

№20

In [10]:
n = int(input())
print(f"n = {n}")

for num in range(100, 1000):
    a = num // 100
    b = (num // 10) % 10
    c = num % 10
    if a + b + c == n:
        print(num, end=' ')

3
n = 3
102 111 120 201 210 300

№21

In [ ]:
n = int(input())

r_sr_m = 0.0
r_sr_d = 0.0

m=0
d=0
m_count=0
d_count=0

while n!=0:
  r = int(input())
  n-=1
  if r<0:
    m-=r
    m_count+=1
  else:
    d+=r
    d_count+=1

r_sr_m = m/m_count
r_sr_d = d/d_count

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

5
150
-150
160
170
180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

№22

In [11]:
n = int(input())
print(f"n = {n}")

a_max = None
a_min = None

for i in range(n):
    num = float(input(f"{i+1}-е число = "))
    if a_max is None or num > a_max:
        a_max = num
    if a_min is None or num < a_min:
        a_min = num

print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

4
n = 4
1-е число = 6.2
2-е число = 3.8
3-е число = 1.1
4-е число = 9.66
Максимум: 9.66
Минимум: 1.10

№23

In [42]:
n = int(input())
a, b = 0, 1
w = 0
for _ in range(n):
     a, b = b, a + b
     if n == b:
      w = 1
if w == 1:
  print("Является")
else:
  print ("Не является")

7
Не является

№24

In [12]:
n = int(input("n = "))

index = -1

prev = float(input("1-е число = "))
for i in range(2, n + 1):
    current = float(input(f"{i}-е число = "))
    if current <= prev:
        index = i
        break
    prev = current

if index == -1:
    print("Является")
else:
    print(index)

n = 3
1-е число = 3
2-е число = 3
2

№25

In [59]:
n = int(input())
for i in range(1, n + 1):
  for j in range(1, n + 1):
    print(f"{i} x {j} = {i * j}", end="\t")
  print()

5
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25

№26

In [13]:
n = int(input("n = "))

for num in range(1, n + 1):
    count = 0
    for i in range(1, num + 1):
        if num % i == 0:
            count += 1
    print(f"{num} {'*' * count}")

n = 10
1 *
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

№27

In [56]:
p=2
count = 0
n = int(input())
while count < n:
  if all(p % j != 0 for j in range(2, p)):
    print(p,end=" ")
    count += 1
  p+=1

10
2 3 5 7 11 13 17 19 23 29

№28

In [14]:
k = int(input("k = "))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x**2 + y**2 + z**2 == k**2:
                print(f"x = {x}, y = {y}, z = {z}")

k = 30
x = 4, y = 10, z = 28
x = 4, y = 20, z = 22
x = 4, y = 22, z = 20
x = 4, y = 28, z = 10
x = 10, y = 4, z = 28
x = 10, y = 20, z = 20
x = 10, y = 28, z = 4
x = 20, y = 4, z = 22
x = 20, y = 10, z = 20
x = 20, y = 20, z = 10
x = 20, y = 22, z = 4
x = 22, y = 4, z = 20
x = 22, y = 20, z = 4
x = 28, y = 4, z = 10
x = 28, y = 10, z = 4

№29

In [ ]:
n = int(input("n = "))

nums = []
while n != 0:
   a = float(input())
   nums.append(a)
   n -= 1

nums_pos = [a for a in nums if a > 0]
nums_neg = []
for a in nums:
  if a < 0:
    nums_neg.append(a)

p=1
sr_ar = (sum(nums_pos)/len(nums_pos))
for a in nums_neg:
  p*=a
sr_geom = p**(1/len(nums_neg))

print(nums)
print(nums_pos)
print(nums_neg)
print(round(sr_ar,2))
print(round(sr_geom,2))

n = 4
1
6
-10
-3
[1.0, 6.0, -10.0, -3.0]
[1.0, 6.0]
[-10.0, -3.0]
3.5
5.48

№30

In [15]:
nums = [int(item) for item in input().split()]

all_pos_1 = True
for item in nums:
    if item <= 0:
        all_pos_1 = False
        break

all_pos_2 = all(item > 0 for item in nums)

any_zero_1 = False
for item in nums:
    if item == 0:
        any_zero_1 = True
        break

any_zero_2 = any(item == 0 for item in nums)

all_even_1 = True
for item in nums:
    if item % 2 != 0:
        all_even_1 = False
        break

all_even_2 = all(item % 2 == 0 for item in nums)

any_odd_1 = False
for item in nums:
    if item % 2 != 0:
        any_odd_1 = True
        break

any_odd_2 = any(item % 2 != 0 for item in nums)

print("Все положительные:", all_pos_1, all_pos_2)
print("Хотя бы 1 нулевой элемент:", any_zero_1, any_zero_2)
print("Все четные:", all_even_1, all_even_2)
print("Хотя бы 1 нечетный элемент:", any_odd_1, any_odd_2)

-1 1 100 0
Все положительные: False False
Хотя бы 1 нулевой элемент: True True
Все четные: False False
Хотя бы 1 нечетный элемент: True True

№31

In [ ]:
s = str(input())
k = str(input())

words = s.split( )
words1 = [words for words in words if k not in words]
print(' '.join(map(str, words1)))

мама мыла раму
р
мама мыла

№32

In [16]:
n = int(input("Количество рядов = "))

seats = []
for i in range(n):
    row = [int(item) for item in input().split()]
    seats.append(row)

count = sum(row.count(0) for row in seats)
print(f"Всего свободных мест: {count}")

n_p, m_p = [int(item) for item in input("Введите ряд и место через пробел: ").split()]
n_p -= 1
m_p -= 1

if (n_p < 0 or n_p >= len(seats)) or (m_p < 0 or m_p >= len(seats[n_p])):
    print("Такого места не существует")
else:
    is_free = seats[n_p][m_p] == 0
    print(f"Место свободно: {is_free}")

Количество рядов = 3
0 0 0
1 1 1
0 0 0 0 1
Всего свободных мест: 7
Введите ряд и место через пробел: 1 1
Место свободно: True

№33

In [ ]:
n = int(input())
employees = []
while n != 0:
  e = input().split( )
  n-=1
  e[4] = int(e[4])
  employees.append(e)

sort = sorted(employees, key = lambda x: x[4])
employee_min = sort[0]
employee_max = sort[-1]
print("Cамый \"молодой\": {}".format(" ".join(employee_min[:3])))
print("Cамый \"старый\": {}".format(" ".join(employee_max[:3])))

men = [emp for emp in employees if emp[3] == "М"]
women = [emp for emp in employees if emp[3] == "Ж"]

k = str(input())

men_k_count = sum(1 for emp in men if emp[1].lower().startswith(k))
women_k_count = sum(1 for emp in women if emp[1].lower().startswith(k))

if men_k_count < women_k_count:
  print("У женщин таких имен больше")
elif men_k_count > women_k_count:
  print("У мужчин таких имен больше")
else:
  print("Таких имен поровну у мужчин и женщин")

3
Петрова Анна Алексеевна Ж 5
Семенов Николай Михайлович М 2
Михайлов Игорь Васильевич М 3
Cамый "молодой": Семенов Николай Михайлович
Cамый "старый": Петрова Анна Алексеевна
а
У женщин таких имен больше

№34

In [18]:
n = int(input("Количество банков = "))

deposits = []
for _ in range(n):
    bank_info = input().split()
    deposits.append({
        "name": bank_info[0],
        "initial_sum": int(bank_info[1]),
        "rate": float(bank_info[2])})

# 2. Самый доступный банк
min_bank = min(deposits, key=lambda x: x["initial_sum"])

# 3. Самый выгодный банк
max_profit_bank = max(deposits, key=lambda x: x["initial_sum"] * x["rate"] / 100)
max_profit = max_profit_bank["initial_sum"] * max_profit_bank["rate"] / 100

print(f"Самый доступный банк: {min_bank['name']}, первоначальная сумма: {min_bank['initial_sum']:.2f} руб.")
print(f"Самый выгодный банк: {max_profit_bank['name']}, прибыль: {max_profit:.2f} руб.")

Количество банков = 3
первый 50000 5.2
второй 20000 3.7
третий 45000 6.8
Самый доступный банк: второй, первоначальная сумма: 20000.00 руб.
Самый выгодный банк: третий, прибыль: 3060.00 руб.